#map table {
    margin-left: auto;
    margin-right: auto;
}

#map {
    min-width: 400px;
    min-height: 200px;
}

.map-cheese {
    background-image: url('/images/cheese.png');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
}

.map-wall {
    background-image: url('/images/wall.png');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
}

.map-mouse {
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
}

.map-nothing {
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
}

.map-mouse-north {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -transform: rotate(0deg);
}

.map-mouse-east {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -transform: rotate(90deg);
}

.map-mouse-south {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -transform: rotate(180deg);
}

.map-mouse-west {
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -transform: rotate(270deg);
}

#mouse-grey {
    background-image: url('/images/mouse-grey.png');
}

#mouse-yellow {
    background-image: url('/images/mouse-yellow.png');
}

#mouse-orange {
    background-image: url('/images/mouse-orange.png');
}

#mouse-red {
    background-image: url('/images/mouse-red.png');
}

#mouse-violet {
    background-image: url('/images/mouse-violet.png');
}

#mouse-bright-green {
    background-image: url('/images/mouse-bright-green.png');
}

#mouse-dark-green {
    background-image: url('/images/mouse-dark-green.png');
}

#mouse-bright-blue {
    background-image: url('/images/mouse-bright-blue.png');
}

#mouse-blue {
    background-image: url('/images/mouse-blue.png');
}

#mouse-cheese-grey {
    background-image: url('/images/cheese/mouse-grey.png');
}

#mouse-cheese-yellow {
    background-image: url('/images/cheese/mouse-yellow.png');
}

#mouse-cheese-orange {
    background-image: url('/images/cheese/mouse-orange.png');
}

#mouse-cheese-red {
    background-image: url('/images/cheese/mouse-red.png');
}

#mouse-cheese-violet {
    background-image: url('/images/cheese/mouse-violet.png');
}

#mouse-cheese-bright-green {
    background-image: url('/images/cheese/mouse-bright-green.png');
}

#mouse-cheese-dark-green {
    background-image: url('/images/cheese/mouse-dark-green.png');
}

#mouse-cheese-bright-blue {
    background-image: url('/images/cheese/mouse-bright-blue.png');
}

#mouse-cheese-blue {
    background-image: url('/images/cheese/mouse-blue.png');
}


.wind-statusbar {
    padding: 0;
}

.wind-status div {
    margin: 0;
}
#wind-status {
    margin-top: 6em;
    margin-bottom: 6em;
}

#wind-status-east {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}


#wind-status-west {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -transform: rotate(180deg);
}

.row {
    text-align: center;
}

#wind .row {
    margin-left: auto;
    margin-right: auto;
}

#wind .progress {
    margin-bottom: 0px;
}

#game-controls {
    margin-left: auto;
    margin-right: auto;
}

#score table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 0.5em;
}